bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
*.ilk
*.meta
*.pdb
*.cache
*.log
*.tlog
*.vs/
project.lock.json
project.fragment.lock.json
artifacts/
*_i.c
*_p.c
*_h.h
*.dbmdl
*.jfm
*.psess
*.vsp
*.vspx
*.pidb
*.svclog
*.scc
*.dll
*.exe
*.mdb
*.bak
*.swp
*.tmp
*.tmp_proj
*.log
*.params
*.received.cs
*.received.vb
*.received.js
*.received.ts
*.orig
*.g.cs
*.g.vb
*.generated.cs
*.generated.vb
*.xsd.cs
*.publishsettings
node_modules/
yarn.lock
npm-debug.log
package-lock.json
.vscode/
.DS_Store
Thumbs.db
*.nupkg
.nuget/
*.snk
.env
.idea/
_ReSharper*/
*.DotSettings.user
*.DotSettings
TestResults/
*.coverage
*.coveragexml
*.nvuser
.vspscc
*.wixobj
*.wixpdb
wwwroot/node_modules/
wwwroot/lib/
App_Data/
logs/
BundleArtifacts/
PublishProfiles/
wwwroot/dist/
coverage/
*.tlog
*.db
*.opendb
site/wwwroot/
site/wwwroot/*
appsettings.Development.json